@import '../../style/main.scss';
.testword2{
    @include font;
}
.inputClass {
    @include wh(100%, .8rem);
    border: none;
    font-size: .32rem;
    color: blue
}
.wrap{
    // padding-top: .8rem;
}

.testLi{
    height: .6rem;
    font-size: .48rem;
}
.activeColor{
    background: blue;
}